In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('./assets/infectious_cases.csv')
df.head()

,Entity,Code,Year,Number_yaws,polio_cases,cases_guinea_worm,Number_rabies,Number_malaria,Number_hiv,Number_tuberculosis,Number_smallpox,Number_cholera_cases
0,Afghanistan,AFG,1980,NaN,6160.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1981,NaN,5859.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1982,NaN,9730.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1983,NaN,13937.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1984,NaN,3864.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10521 entries, 0 to 10520
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entity                10521 non-null  object
 1   Code                  9393 non-null   object
 2   Year                  10521 non-null  int64
 3   Number_yaws           74 non-null     float64
 4   polio_cases           7610 non-null   float64
 5   cases_guinea_worm     8428 non-null   float64
 6   Number_rabies         6780 non-null   float64
 7   Number_malaria        6780 non-null   float64
 8   Number_hiv            6780 non-null   float64
 9   Number_tuberculosis   6780 non-null   float64
 10  Number_smallpox       104 non-null    float64
 11  Number_cholera_cases  2967 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 986.5+ KB

In [9]:
df.isnull().sum()

Entity                      0
Code                     1128
Year                        0
Number_yaws             10447
polio_cases              2911
cases_guinea_worm        2093
Number_rabies            3741
Number_malaria           3741
Number_hiv               3741
Number_tuberculosis      3741
Number_smallpox         10417
Number_cholera_cases     7554
dtype: int64

In [8]:
print("Max length of 'Entity':", df['Entity'].str.len().max())
print("Min length of 'Entity':", df['Entity'].str.len().min())

print("Max length of 'Code':", df['Code'].str.len().max())
print("Min length of 'Code':", df['Code'].str.len().min())

print("Max length of 'Year':", df['Year'].astype(str).str.len().max())
print("Min length of 'Year':", df['Year'].astype(str).str.len().min())

Max length of 'Entity': 34
Min length of 'Entity': 3
Max length of 'Code': 8.0
Min length of 'Code': 3.0
Max length of 'Year': 4
Min length of 'Year': 4